:root {
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 280px 3fr 1fr;
  grid-template-rows: min-content min-content 1fr 1fr;
}

.sidebar {
  background-color: #38bdf8;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.sidebar h1{
  font-size: 1.7rem;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul.menu2 {
  margin-top: 60px;
}

.sidebar ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 27px 10px 35px;
  font-size: 1.3rem;
}

.sidebar ul li:hover {
  background-color: #0284c7;
}

.sidebar ul li a {
  color: white;
  font-weight: bold;

}

.sidebar ul li img {
  height: 30px;
  width: auto;
}

.header {
  grid-column: 2 / 4;
  display: flex;
  padding: 15px 30px;
  align-items: center;
  gap: 15px;
}

.header img {
  height: 25px;
  width: auto;
}

.header form {
  flex: 1;
  min-width: 200px;
}

.header input {
  padding: 3px;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 500px;
  background-color: #e2e8f0;
}

.header a {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.header a.notifications {
  margin-left: 100px;
}

.header a.account-name {
  margin: 0 20px;
}

img.profile-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.interact {
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
}

img.profile-large {
  height: 80px;
  width: auto;
  border-radius: 50%;
}

.greeting {
  font-weight: bold;
  flex: 1;
}

.greeting p {
  font-size: 0.9rem;
}

.interact .greeting .greeting-large {
  font-size: 1.7rem;
  margin-top: 5px;
}

.interact button  {
  border: none;
  border-radius: 500px;
  background-color: #38bdf8;
  height: 50px;
  width: 110px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.interact button:hover {
  background-color: #0284c7;
}

.interact ul {
  display: flex;
  gap: 30px;
  margin-right: 40px;
}

.projects {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  background-color: #e2e8f0;
  padding: 20px;
}

.projects h1 {
  font-size: 1.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 25px;
  margin-top: 15px;
}

.card h2 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.card {
  height: 175px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgb(122, 122, 122);
  border-left: 10px solid #f59e0b;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.card ul {
  display: flex;
  justify-content: end;
}

.card img {
  height: 25px;
  width: auto;
}

.icon-large {
  height: 60px;
  width: auto;
}

.sidebar-heading {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.sidebar-heading img {
  margin: 15px;
}